<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.godfunc.modules.sys.mapper.RoleMapper">

    <select id="selectCustomPage" resultType="com.godfunc.modules.sys.entity.Role">
        SELECT r.id, r.name, r.remark, r.create_id, r.update_id, r.create_time, r.update_time,
               (SELECT username FROM mg_user WHERE id = r.create_id) create_user,
               (SELECT username FROM mg_user WHERE id = r.update_id) update_user
        FROM mg_role r
        <where>
            <if test="name!=null and name!=''">
            <bind name="_name" value="'%'+name+'%'"/>
                r.name LIKE #{_name}
            </if>
        </where>
    </select>
</mapper>
